/* js */

#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

#box8,
#box9,
#box10,
#box11 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -99;
}

#box12,
#box13 {
    position: absolute;
    top: 0;
    right: 0;
}

#box14,
#box15,
#box18 {
    position: absolute;
    top: 0;
    left: 0;
}

.white1 {
    width: 30%;
    padding: 10px 0 0 150px;
}

.white2 {
    width: 20%;
}

.white3 {
    width: 30%;
    padding: 230px 0 0 0;
}

.white4 {
    width: 40%;
    padding: 450px 0 0 200px;
}

.white5 {
    width: 30%;
    margin-left: auto;
    padding: 120px 200px 0 0;
}

.white6 {
    width: 15%;
    padding: 420px 30px 0 0;
}

.white7 {
    width: 47%;
    padding: 500px 350px 0 0;
}

.white8 {
    width: 25%;
    /* padding: 0 150px 60px 0; */
}

.white9 {
    width: 20%;
    padding: 130px 0 0 70px;
}

.white10 {
    width: 23%;
    padding: 450px 130px 0 0;
}

.white11 {
    width: 24%;
    padding: 500px 0 0 20px;
}

.orange1 {
    width: 25%;
    padding: 0 0px 0px 0px;
}

.orange2 {
    width: 20%;
    padding: 100px 0px 0px 60px;
}

.orange3 {
    width: 46%;
    padding: 0 0 0 100px;
}

.orange4 {
    width: 28%;
    padding: 200px 0px 0 0px;
}


/* https://kata-tip.com/demo01/jquery-fade-word/ */

.text-move {
    opacity: 0;
    transform: scale(1.25) translate(8px, 4px);
    font-size: 3.0rem;
    letter-spacing: 0.02em;
}

.text-move:nth-child(1) {
    font-size: 5.0rem;
    transition: opacity 1.2s ease 0.1s, transform 1.2s ease 0.2s;
}

.text-move:nth-child(2) {
    font-size: 5.0rem;
    transition: opacity 1.2s ease 0.2s, transform 1.2s ease 0.25s;
}

.text-move:nth-child(3) {
    transition: opacity 1.2s ease 0.25s, transform 1.2s ease 0.3s;
}

.text-move:nth-child(4) {
    transition: opacity 1.2s ease 0.3s, transform 1.2s ease 0.35s;
}

.text-move:nth-child(5) {
    transition: opacity 1.2s ease 0.35s, transform 1.2s ease 0.4s;
}

.text-move:nth-child(6) {
    transition: opacity 1.2s ease 0.4s, transform 1.2s ease 0.45s;
}

.text-move:nth-child(7) {
    transition: opacity 1.2s ease 0.45s, transform 1.2s ease 0.5s;
}

.text-move:nth-child(8) {
    transition: opacity 1.2s ease 0.5s, transform 1.2s ease 0.55s;
}

.text-move:nth-child(9) {
    transition: opacity 1.2s ease 0.55s, transform 1.2s ease 0.6s;
}

.text-move:nth-child(10) {
    font-size: 5.0rem;
    transition: opacity 1.2s ease 0.6s, transform 1.2s ease 0.65s;
}

.text-move:nth-child(11) {
    transition: opacity 1.2s ease 0.65s, transform 1.2s ease 0.7s;
}

.text-move:nth-child(12) {
    transition: opacity 1.2s ease 0.7s, transform 1.2s ease 0.75s;
}

.text-move:nth-child(13) {
    font-size: 5.0rem;
    transition: opacity 1.2s ease 0.7s, transform 1.2s ease 0.75s;
}

.text-move:nth-child(14) {
    transition: opacity 1.2s ease 0.7s, transform 1.2s ease 0.75s;
}

.text-move:nth-child(15) {
    transition: opacity 1.2s ease 0.7s, transform 1.2s ease 0.75s;
}

.text-move:nth-child(16) {
    transition: opacity 1.2s ease 0.7s, transform 1.2s ease 0.75s;
}

.text-move:nth-child(17) {
    transition: opacity 1.2s ease 0.7s, transform 1.2s ease 0.75s;
}

.text-move:nth-child(18) {
    transition: opacity 1.2s ease 0.7s, transform 1.2s ease 0.75s;
}

.text-move:nth-child(19) {
    transition: opacity 1.2s ease 0.7s, transform 1.2s ease 0.75s;
}

.text-move:nth-child(20) {
    transition: opacity 1.2s ease 0.7s, transform 1.2s ease 0.75s;
}

.text.active {
    opacity: 1;
}

.text.active .text-move {
    opacity: 1;
    transform: scale(1) translate(0);
    padding: 10px 0;
}


/* スクロール */

html {
    scroll-behavior: smooth;
}

.fadeall {
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: transform 1s, opacity 1s, visibility 1s;
}

.fadeall.fade {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}


/* モーダル */

.layer {
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s linear, visibility 1s linear, z-index 1s linear;
}

.layer.is-open {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

.layer.is-open .modal {
    opacity: 1;
    visibility: visible;
}

.modal__button-wrap {
    position: absolute;
    right: 10px;
    top: -28px;
    display: inline-flex;
}

.close-button {
    position: relative;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    padding: 0;
    border: transparent;
    cursor: pointer;
    background-color: #DFB794;
}

.close-button span {
    width: 25px;
    height: 2px;
    background: #ffffff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 12px);
    top: 50%;
    border-radius: 20px;
}

.close-button span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.close-button span:nth-child(2) {
    transform: rotate(-45deg) translate(1px, -1px);
}

.modal {
    position: relative;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: visibility .7s linear, opacity .7s linear;
}

.modal__inner {
    margin-top: 125px;
    margin-bottom: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    display: block;
    padding: 21px 8px 21px;
    height: auto;
}

.modal__contents {
    padding-top: 15px;
    padding-bottom: 23px;
    width: 30%;
    margin: 0 auto;
    height: 100vh;
    overflow: auto;
}

.button {
    background: DFB794;
    border-radius: 12px;
    box-shadow: 2px 4px 6px 3px rgba(0, 0, 0, .24);
    border: 1px solid DFB794;
    font-size: 16px;
    line-height: 1.6;
    display: block;
    padding: 12px 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 0;
}


/* sns */

.container {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    .circle2 {
        fill: none;
        stroke: #361F00;
        stroke-width: 2px;
        stroke-dasharray: 40;
        transition: all .2s ease-in-out;
        animation: outWaveOut 1s cubic-bezier(0.42, 0.0, 0.58, 1.0) forwards;
    }
    .social {
        color: #ffffff;
        font-size: 1.8em;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transition: all .5s ease-in-out;
    }
    &:hover {
        cursor: pointer;
    }
}

.twitter:hover,
.facebook:hover,
.google:hover {
    .circle2 {
        fill: #ffffff;
        fill-opacity: 1;
        animation: outWaveIn 1s cubic-bezier(0.42, 0.0, 0.58, 1.0) forwards, colorTwitter 1s linear forwards;
    }
    .social {
        color: #361F00;
    }
}


/* @keyframes colorTwitter {
    from {
        stroke: #ffffff;
    }
    to {
        stroke: #DFB794;
    }
}

@keyframes colorFacebook {
    from {
        stroke: #ffffff;
    }
    to {
        stroke: #DFB794;
    }
} */


/* @keyframes colorGoogle {
    from {
        stroke: #ffffff;
    }
    to {
        stroke: #DFB794;
    }
} */

@keyframes outWaveIn {
    to {
        stroke-width: 3px;
        stroke-dasharray: 400;
    }
}

@keyframes outWaveOut {
    from {
        stroke-width: 3px;
        stroke-dasharray: 400;
    }
    to {
        stroke: #ffffff;
        stroke-width: 3px;
        stroke-dasharray: 40;
    }
}