@charset "utf-8";
body {
    font-family: 'Yu Mincho', '游明朝', '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #ffffff;
    color: #361F00;
    font-size: 1.6rem;
}

.shopbody {
    background-color: #FEFFEF;
}


/* 髪のゆがみを整え、ツヤを失った疲れ髪も毛先までツヤツヤ・サラサラに導くノンシリコンの透明シャンプー。 */

.wrapper8 {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }
    40% {
        transform: scaleX(1);
        opacity: .7;
    }
    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.wrapper8 span {
    position: absolute;
    top: 75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left: 15%;
}


/* d58e60 */

header {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #DFB794;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

header h1 {
    width: 20%;
    padding-left: 45px;
}

.global {
    line-height: 26px;
    margin-top: 10px;
}

.global ul {
    display: flex;
    justify-content: flex-end;
}

.global li a {
    color: #361F00;
    text-decoration: none;
    padding: 0 2.0rem;
    border-right: 1px solid #a7a7a7;
}

.global li:last-child a {
    padding-right: 0;
    border-right: none;
}

.global li a:hover span {
    color: #656361;
    border-bottom: 1px solid #656361;
}

.index .global li:nth-child(1) a span,
.tool .global li:nth-child(2) a span,
.catalog .global li:nth-child(3) a span,
.common .global li:nth-child(4) a span,
.contact .global li:nth-child(5) a span {
    color: #dfb794;
    border-bottom: 2px solid #dfb794;
}

.back {
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.home:hover {
    color: #DFB794;
}

.arrow-left {
    margin: 0 7px 0 30px;
    border: 0;
    border-top: solid 1px #361F00;
    border-left: solid 1px #361F00;
    display: inline-block;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
}

.cart-but {
    margin-top: 20px;
}

.cart-but a {
    width: 200px;
    padding: 8px 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    background-color: #361F00;
}

.cart-but a:hover {
    background-color: #DFB794;
    transition: 0.6s;
}

.money {
    padding: 15px 0;
}

.dropdown select {
    color: #6b6b6b;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    padding: .6em 1.9em .5em .8em;
    line-height: 1.3;
}

.s-button {
    font-size: 1.4rem;
    cursor: pointer;
    padding: 5px 25px;
    background-color: #ffffff;
    border: 1px solid #D7DBDD;
    border-radius: 0;
    outline: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .24);
}

.s-button2 {
    color: #6b6b6b;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #D7DBDD;
    border-radius: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .24);
}

.shop-flex {
    display: flex;
    justify-content: space-between;
}

.s-img {
    width: 450px;
    margin: 0 auto;
}

.s-flex {
    display: flex;
    color: #6b6b6b;
    align-items: center;
    gap: 20px;
    padding: 8px 0;
}

.s-flex2 {
    display: flex;
    color: #6b6b6b;
    align-items: center;
    gap: 36px;
    padding: 8px 0;
}

.cartall {
    width: 40%;
    padding-top: 50px;
}

.field {
    display: flex;
}

.inputtext {
    color: #6b6b6b;
    font-size: 18px;
    border-left: 0;
    border-right: 0;
    width: 80px;
    line-height: 3rem;
    text-align: center;
    border: 1px solid #D7DBDD;
    padding: 0 10px;
}


/* d58e60 */

.wrapper0 {
    max-width: 1800px;
    margin: 0 auto;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FEFFEF;
    ;
    position: relative;
}

.wrapper2 {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 200px;
}

.wrapper5 {
    max-width: 1100px;
    margin: 0 auto;
}


/* body */

.navflex {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 120px 65px;
}

.box-all {
    position: fixed;
    background-image: url(../images/AdobeStock_294103445.jpeg);
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.logo-padding li {
    padding-top: 13px;
    font-size: 2.0rem;
    padding-left: 60px;
}

.gnavi {
    padding: 0 30px;
    text-align: center;
    font-size: 2.0rem;
}

.gnavi li a {
    padding: 5px 0px;
    transition: 0.6s;
    position: relative;
}

.gnavi li {
    margin-bottom: 20px;
}

.gnavi li.current a,
.gnavi li a:hover {
    color: #967054;
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*線の形状*/
    width: 30%;
    height: 1px;
    background: #967054;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);
    /*X方向0、Y方向1*/
    margin: 0 auto;
}


/*現在地とhoverの設定*/

.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);
    /*X方向にスケール拡大*/
}


/* ボタン */

.top-button {
    width: 200px;
    padding-top: 20px;
}

.parchase {
    padding-top: 30px;
}

.parchase a {
    margin: 0 auto;
    width: 200px;
    padding: 8px 0;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient( to right, #DFB794 0%, #DFB794 50%, #361F00 50%, #361F00 100%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.4s;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
}

.parchase a:hover {
    background-position: 0 0;
}

.parchase1 {
    padding: 0 0 50px 0;
}

.parchase1 a {
    margin: 0 auto;
    width: 200px;
    padding: 8px 0;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient( to right, #DFB794 0%, #DFB794 50%, #361F00 50%, #361F00 100%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.4s;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
}

.parchase1 a:hover {
    background-position: 0 0;
}

.top-relative {
    position: relative;
}

.point-left {
    text-align: left;
    padding: 0 50px;
}

.loader-bg {
    align-items: center;
    background-image: url(../images/AdobeStock_566466117\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #DFB794;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9999;
}

.logo3 {
    width: 20%;
    padding: 20px 0 0 50px;
}

.wrap {
    text-align: center;
}

.content {
    background-color: #DFB794;
    display: inline-block;
    font-size: 20px;
    margin-top: 100px;
    padding: 30px;
}


/* concept */

.concept {
    text-align: center;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 250px;
}

.concept h2 {
    font-size: 2.0rem;
    color: #967054;
    /* margin-top: 70px; */
}

.concept p {
    font-size: 1.6rem;
    padding-top: 10px;
}

.title-span {
    font-size: 2.4rem;
}

.firstview {
    position: relative;
}

.c-marker {
    background: -webkit-linear-gradient(left, rgb(253, 255, 228) 50%, transparent 50%);
    background: -moz-linear-gradient(left, rgb(253, 255, 228) 50%, transparent 50%);
    background: linear-gradient(left, rgb(253, 255, 228) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em;
    background-position: 100% .5em;
    transition: 3s;
    font-size: 2.6rem;
}

.c-marker.is-active {
    background-position: 0% .5em;
}

.c-marker2 {
    background: -webkit-linear-gradient(left, rgb(255, 228, 189) 50%, transparent 50%);
    background: -moz-linear-gradient(left, rgb(255, 228, 189) 50%, transparent 50%);
    background: linear-gradient(left, rgb(255, 228, 189) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em;
    background-position: 100% .5em;
    transition: 3s;
    font-size: 2.0rem;
}

.c-marker2.is-active {
    background-position: 0% .5em;
}


/* cause */

.cause {
    background-color: #DFB794;
    padding: 40px;
    text-align: center;
}

.cause h3 {
    font-size: 3.0rem;
}

.causeflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
}

.causeflex p {
    border-radius: 5px;
    background-color: #DFB794;
    padding: 15px 20px;
    font-size: 2.0rem;
    font-weight: bold;
    color: #ffffff;
}

.kari {
    padding: 50px;
}

.causecomment {
    font-size: 1.8rem;
    padding-top: 50px;
}

.causecomment span {
    font-size: 2.5rem;
    font-weight: bold;
}

.yajisusi {
    font-size: 5.0rem;
}


/* solution */

.solution {
    text-align: center;
    padding: 70px 0;
}

.solution h2 {
    font-size: 2.0rem;
    padding-bottom: 10px;
    color: #967054;
}

.solution .amit {
    font-size: 3.0rem;
}

.solution .amit span {
    background: -moz-linear-gradient(top, #dfb7947a, #ffffff71);
    background: -webkit-linear-gradient(top, #dfb79480, #ffffff6d);
    background: linear-gradient(to bottom, #dfb79474, #ffffff8c);
}

.solution .shampoo {
    font-size: 2.0rem;
}

.septem-one img {
    width: 30%;
    margin: 0 auto;
    padding-top: 50px;
}

.allab {
    position: relative;
    background-image: url(../images/water.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.water {
    position: absolute;
    top: 0;
    left: 0;
}


/* point */

.point-padding {
    padding: 0 40px;
}

.point {
    border: #DFB794 solid 1px;
    margin-top: 80px;
}

.point h3 {
    font-size: 2.0rem;
    padding: 20px 10px 0 0;
    color: #DFB794;
}

.point h3 span {
    font-size: 2.8rem;
    color: #361F00;
    border-bottom: dotted 2px #DFB794;
}

.point-title {
    font-size: 1.6rem;
    background-color: #DFB794;
    letter-spacing: 2px;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    width: 240px;
    text-align: center;
}

.point-title2 {
    font-size: 1.6rem;
    background-color: #DFB794;
    letter-spacing: 2px;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    width: 190px;
    text-align: center;
}

.point-comment {
    font-size: 1.4rem;
    padding: 10px 0 20px 0;
}

.hair1 {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.hair3 {
    width: 40%;
    margin: 0 auto;
    padding: 30px 0;
}

.ekisu-flex {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.ekisu {
    width: 25%;
}


/* product */

.product {
    background-color: #DFB794;
    padding: 40px 0;
}

.product h2 {
    font-size: 2.0rem;
    padding-bottom: 10px;
    color: #967054;
    text-align: center;
}

.product-flex {
    display: flex;
    gap: 20px;
}

.product-flex2 {
    display: flex;
}

.explain {
    width: 40%;
    margin: 0 auto;
}

.melt {
    font-size: 1.4rem;
    padding-top: 10px;
}


/* campaign */

.campaign {
    padding: 80px 0;
    text-align: center;
}

.campaign h2 {
    font-size: 2.0rem;
    padding-bottom: 10px;
    color: #967054;
}

.campaign h3 {
    font-size: 1.5rem;
    width: 80px;
    margin: 0 auto;
    background-color: #361F00;
    color: #ffffff;
}

.button3 {
    padding: 30px 0 50px 0;
}

.button3 a {
    margin: 0 auto;
    width: 200px;
    color: #ffffff;
    background-color: #361F00;
    padding: 10px 0;
    font-size: 1.4rem;
}

.sample_bar {
    font-size: 1.4rem;
    width: 400px;
    height: 400px;
    border: 1px solid #dfdfdf;
    overflow-y: scroll;
    margin: 0 auto;
}

.sample_bar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* スクロールの背景の設定 */

.sample_bar::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(110, 108, 108, 0.2);
}


/* ドラックできるスクロール部の設定 */

.sample_bar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #DFB794;
}

dt {
    font-weight: bold;
}

.gold {
    padding-top: 20px;
    font-size: 2.0rem;
    font-weight: bold;
}

.gold2 {
    padding-bottom: 70px;
    font-size: 1.8rem;
    font-weight: bold;
}


/* footer */

footer {
    padding: 50px 0;
    text-align: center;
    background-color: #DFB794;
}

footer h2 {
    font-size: 3.0rem;
    color: #ffffff;
}

.navtitle {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navtitle li a {
    color: #ffffff;
}

.navtitle li a:hover {
    color: #361F00;
    transition: 0.8s;
}

.banner {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

.tweet {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.shop {
    height: 60px;
    width: 100%;
    padding: 0px 50px;
    background-color: #DFB794;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
}

.sm {
    margin: 0 0 0 auto;
    display: none;
}

.ulshop {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 50px;
}

.logoshop a {
    width: 150px;
}

.ulshop a:hover {
    border-bottom: 1px solid #361F00;
}


/**********************************　
  以下、ハンバーガーメニューの設定　
  ************************************/

@media (max-width: 900px) {
    .pc {
        display: none;
    }
    #hamburger {
        background-color: transparent;
        position: relative;
        cursor: pointer;
        margin: 0 0 0 auto;
        height: 60px;
        width: 60px;
    }
    .icon span {
        position: absolute;
        left: 15px;
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 8px;
        transition: ease 0.75s;
    }
    .icon span:nth-of-type(1) {
        top: 16px;
    }
    .icon span:nth-of-type(2) {
        top: 28px;
    }
    .icon span:nth-of-type(3) {
        bottom: 16px;
    }
    .close span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 28px;
    }
    .close span:nth-of-type(2) {
        opacity: 0;
    }
    .close span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
    }
    .sm {
        top: 60px;
        left: 0px;
        position: absolute;
        z-index: 10;
        width: 100%;
        background-color: rgba(34, 49, 52, 0.9);
    }
    .ulshop {
        flex-direction: column;
    }
    .shop-flex {
        display: block;
    }
    .cartall,
    .dropdown select,
    .inputtext {
        width: 100%;
        font-size: 1.4rem;
        /* margin-left: 200px; */
    }
}

@media screen and (max-width:768px) {
    header {
        display: none;
    }
    .box-all {
        display: none;
    }
    .concept h2,
    .solution h2,
    .campaign h2,
    .product h2 {
        font-size: 1.0rem;
    }
    .c-marker {
        font-size: 1.4rem;
    }
    .concept p {
        font-size: 1.2rem;
    }
    .solution .amit {
        font-size: 1.6rem;
    }
    .point h3 {
        font-size: 1.0rem;
    }
    .point h3 span {
        font-size: 1.4rem;
    }
    .point-title {
        width: 200px;
        font-size: 1.1rem;
        padding: 2px;
    }
    .point-comment {
        font-size: 1.0rem;
    }
    .melt {
        font-size: 1.0rem;
    }
    .c-marker {
        font-size: 1.4rem;
    }
    .causecomment,
    .maker {
        font-size: 1.4rem;
    }
    .causecomment span {
        font-size: 1.6rem;
    }
    .solution .shampoo {
        font-size: 1.4rem;
    }
    .parchase a {
        width: 150px;
        font-size: 1.2rem;
        padding: 5px 0;
    }
    .campaign h3 {
        font-size: 1.2rem;
    }
    .c-marker2 {
        font-size: 1.4rem;
    }
    .parchase1 a {
        width: 200px;
        font-size: 1.2rem;
        padding: 5px 0;
    }
    .gold2 {
        font-size: 1.4rem;
    }
    .sample_bar {
        font-size: 1.0rem;
        width: 300px;
    }
    .s-img {
        width: 250px;
    }
    .cartall,
    .dropdown select,
    .inputtext {
        font-size: 1.0rem;
    }
    .s-button {
        padding: 0px 10px;
    }
    .cart-but a {
        margin: 0 auto;
        font-size: 1.2rem;
    }
    footer h2 {
        font-size: 1.8rem;
    }
    .navtitle {
        font-size: 1.2rem;
    }
}