/* #0a1409 */

@charset "utf-8";
body {
    font-family: serif, Arial, Helvetica, sans-serif, 'Shippori Mincho', serif, "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
    color: #0a1409;
    font-size: 1.6rem;
    background-color: #fffbed;
    text-align: justify;
}

.wrapper0 {
    margin: 0 auto;
}

.wrapper1 {
    max-width: 900px;
    margin: 0 auto;
}

.wrapper2 {
    max-width: 700px;
    margin: 0 auto;
}


/* header*/

header {
    width: 100%;
    background-color: #0a1409;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    /*余白が入らないように*/
}

.top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.top-flex p {
    width: 50px;
}

.top-contact {
    display: flex;
    align-items: center;
    gap: 50px;
}

.top-contact li a {
    font-size: 1.6rem;
    color: #ffffff;
}

.top-contact li a:hover {
    border-bottom: #ffffff 1px solid;
    transition: 0.4s;
}

.contact a {
    font-size: 1.6rem;
    background-color: #767104;
    padding: 7px 30px;
}

.contact a:hover {
    color: #0a1409;
    background-color: #ffffff;
    transition: 0.6s;
}


/*main-visual*/

.main-visual {
    height: 800px;
    background-image: url(../images/topview.jpg);
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    max-width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* agreement */

.agreement {
    max-width: 900px;
    margin: 100px auto;
    display: flex;
    text-align: justify;
    gap: 30px;
}

.agree_comment {
    width: 70%;
}

.agree_comment h2 {
    font-size: 2.4rem;
    line-height: 60px;
}

.agree_btn {
    padding: 20px 0;
}

.agree_btn a {
    width: 200px;
    padding: 10px 0;
    border: #0a1409 solid 1px;
    color: #0a1409;
    text-align: center;
}

.agree_btn a:hover,
.traiangru:hover {
    color: #ffffff;
    background: #0a1409;
    transition: 0.5s;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.traiangru {
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-color: transparent;
    border-width: 0.375em 0.64952em;
    border-left-color: currentColor;
    border-right: 0;
    padding-left: 6px;
}


/* 取扱商品 */

.item-btn2 {
    padding-top: 400px;
    text-align: center;
}

.item-btn2 a {
    display: inline;
    background-color: #0a1409;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
}

.item-btn2 a:hover {
    color: #0a1409;
    background: #ffffff;
    transition: 0.5s;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

section a.item-btn {
    display: inline;
    background-color: #0a1409;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
}

section a.item-btn:hover {
    color: #0a1409;
    background: #ffffff;
    transition: 0.5s;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}


/* 施工事例 */

.parent-relative {
    background-image: url(../images/head.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
}

.parent-relative p span {
    font-size: 1.8rem;
}

.parent-relative p {
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
    color: #ffffff;
    padding: 80px 0 30px 0;
}

.parent-flex {
    display: flex;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
}

.box1 {
    width: 200px;
    border: #767104 1px solid;
    margin: 0 auto;
    background-color: #fffbed;
}

.box1:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.616);
}

.box1 a {
    color: #0a1409;
}

.box1 h4 {
    font-size: 2.0rem;
    writing-mode: vertical-rl;
    line-height: 20px;
    padding: 40px 0;
    margin: 0 auto;
    height: 18rem;
}

.parent-btn {
    padding-top: 300px;
    line-height: 20px;
    text-align: center;
}

.parent-btn a {
    width: 200px;
    padding: 10px 0;
    border: #0a1409 solid 1px;
    color: #0a1409;
    margin: 0 auto;
}

.parent-btn a:hover,
.traiangru:hover {
    color: #ffffff;
    background: #0a1409;
    transition: 0.5s;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}


/* 取扱商品*/

.content_menu h2 {
    padding: 150px 0 20px 0;
    text-align: center;
}

.menu1,
.menu2 {
    display: flex;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.menu2 {
    flex-direction: row-reverse;
}

.menu1 img,
.menu2 img {
    width: 50%;
}

.menu_detail {
    padding-top: 50px;
    width: 50%;
    text-align: center;
}

.menu_detail h4 {
    font-size: 2.4rem;
}

.menu_detail p {
    padding: 20px 20px 30px;
}


/* お知らせ */

.news {
    padding-bottom: 100px;
}

.news h2 {
    text-align: center;
    padding-top: 100px;
}

.newsdetail a {
    font-size: 1.4rem;
    color: #0a1409;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.news_logo {
    background: #0a1409;
    padding: 0 10px;
    text-align: center;
    color: #ffffff;
    margin: 0 20px;
    border-radius: 3px;
}

.newsdetail li {
    border-bottom: 1px solid gray;
    /* 太さ、線種、色 */
    padding: 20px 0;
}

.line {
    width: 50px;
    height: 1px;
    background: #0a1409;
    position: absolute;
    top: 50%;
    right: 0;
}

.line::after {
    content: "";
    width: 6px;
    height: 1px;
    background: #0a1409;
    transform: rotate(45deg);
    position: absolute;
    right: 0px;
    bottom: 2px;
}


/* 問い合わせ */

.bcontact_area {
    background-image: url(../images/head.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 60px 0;
}

.bcontact_area h2 {
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.contactbox_block {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
    max-width: 1100px;
}

.wrap {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.telbox {
    width: 50%;
    border-right: 1px solid #999a99;
}

.tel {
    font-size: 3.0rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.infoline {
    font-size: 1.4rem;
    font-weight: bold;
}

.contactbox {
    margin: 0 auto;
    width: 270px;
}

.contactbox a {
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 2.2rem;
    background-color: #767104;
    font-weight: bold;
}

.contactbox a:hover {
    color: #0a1409;
    background-color: #ffffff;
    transition: 0.6s;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}


/* about.html*/

.tatamiimg {
    background-image: url(../images/head.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    margin-bottom: 100px;
}

.tatamiimg2 {
    background-image: url(../images/head.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
}

.tatamiimg p,
.tatamiimg2 p {
    font-size: 3.0rem;
    color: #fff;
    text-align: center;
    line-height: 120px;
}

section.flow h2 {
    text-align: center;
}

section.flow .about_img {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 50px;
}

section.flow table.type {
    width: 70%;
    font-size: 1.4rem;
    margin: 0 auto;
    margin-bottom: 150px;
}

section.flow table.type td {
    border: 1px #0a1409 solid;
}

section.flow table.type th {
    padding: 5px 20px;
    background: #0a1409;
    color: #f0efe4;
    border: 1px #ffffff solid;
}

section.flow table.type td {
    padding: 20px;
}

section.flow table.type td:nth-child(1) {
    background: #e4e6d8;
}

section.flow table.type td.redfont:nth-child(2) {
    color: #bc0f0f;
}


/* company.html */

section.messege_bg {
    background-image: url(../images/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
}

section .messege {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

section .messege img {
    width: 50%;
}

section .messege .king {
    text-align: left;
    padding: 50px 30px;
    line-height: 35px;
    text-align: justify;
}

.companytop {
    margin: 100px auto;
    max-width: 1200px;
}

.companytop h2 {
    padding-bottom: 20px;
    text-align: center;
}

section .company_table {
    width: 60%;
    font-size: 1.4rem;
    margin: 0 auto;
}

section .company_table th {
    width: 150px;
    padding: 15px 30px;
    vertical-align: top;
    background: hsl(0, 2%, 41%);
    color: #ffffff;
}

section .company_table td {
    width: 350px;
    padding: 15px 30px;
    vertical-align: top;
}

.comp h2 {
    text-align: center;
}


/* flow.html */

section ul.step {
    width: 700px;
    position: relative;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

section ul.step li {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
}

section ul.step li p {
    writing-mode: vertical-rl;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.8rem;
}

section ul.step li:before {
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px auto;
    content: "";
    text-align: center;
    background-color: #0a1409;
    border: 1px solid #0a1409;
}

section ul.step li:after {
    position: absolute;
    top: 15px;
    left: -50%;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #0a1409;
}

section ul.step li:first-child:after {
    content: none;
}

.all-con {
    padding: 100px 0;
}

section .contact_box {
    width: 800px;
    margin: 0 auto;
    display: flex;
    background-color: #e4e6d8;
}

section .contactname {
    background-color: #0a1409;
    color: #f0efe4;
    text-align: center;
    padding: 30px 10px;
}

section .contactname p {
    font-size: 1.4rem;
    width: 120px;
    margin: 0 auto;
    border: #f0efe4 solid 1px;
    margin-bottom: 6px;
}

section .contactname h4 {
    font-size: 1.4rem;
}

section .contact_boxtop {
    margin: 20px 50px;
}

section .contact_box .free {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 10px;
}

section .contact_triangle {
    width: 0;
    height: 0;
    border-bottom: solid 15px transparent;
    border-right: solid 15px transparent;
    border-left: solid 15px transparent;
    border-top: solid 15px #0a1409;
    margin: 50px auto;
}


/* フッター */

footer {
    text-align: center;
    font-size: 1.4rem;
    background-image: url(../images/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .footer_logo {
    width: 5%;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 100px;
}

footer hr {
    border-top: 1px solid #c2c1a5;
}

footer .footer__address {
    margin-bottom: 20px;
    padding: 30px 10px;
}

footer ul.nav_f li a {
    color: #0a1409;
}

footer ul.nav_f {
    display: flex;
    justify-content: center;
}

footer ul.nav_f li a:hover {
    color: #767104;
    border-bottom: #767104 1px solid;
    transition: background-color 0.4s;
}

footer ul.nav_f li:not(:last-child) {
    margin-right: 16px;
}

footer .copyright a {
    color: #0a1409;
}

form {
    width: 70%;
    margin: 0 auto;
}

.formtab {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f2f4f5;
}

.formtab:last-child {
    border-bottom: none;
}

.form-label {
    display: flex;
    align-items: center;
    width: 250px;
}

.form-label label {
    font-weight: bold;
}

.form-label span {
    margin-left: 10px;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #bc0f0f;
}


/* フォームパーツのデザイン */

input,
textarea {
    background-color: #f2f4f5;
    border: none;
    border-radius: 3px;
    padding: 15px 20px;
    font-size: 16px;
    color: #333;
    flex-grow: 1;
}

input::placeholder,
textarea::placeholder {
    color: #999;
    font-size: 14px;
}

.btn {
    cursor: pointer;
    margin: 0 auto;
    border-radius: 3px;
    color: #fff;
    background-color: #767104;
    width: 200px;
    border: none;
    padding: 10px 0;
    font-size: 15px;
}

.form-padding {
    padding: 100px 0;
}